@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
@import 'react-toastify/dist/ReactToastify.css';

html,
body {
  background-color: #6c54d8;
  color: #fff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
