.estatistica {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 90px;
    font-size: 2rem;
}

.texto {
    color: #ddd;
    font-size: 1rem;
    font-weight: 200;
}
