.container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.iconButton {
    width: 60px;
    height: 60px;
    right: 5px;
    top: 10px;
}

.iconClose {
    color: #fff
}

.header h1 {
    margin-left: 30px;
    color: #fff;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.main {
    flex: 1;
    overflow-y: auto;
  }

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    padding-bottom: 10px;
    gap: 20px;
    height: 100px;
}

.main::-webkit-scrollbar {
    width: 6px;
}

.main::-webkit-scrollbar-track {
    background: #888;
}

.main::-webkit-scrollbar-thumb {
    background: aqua;
    border-radius: 4px;
}

.main::-webkit-scrollbar-thumb:hover {
    background: #fff;
}