.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
}

.separador {
  display: flex;
  flex-direction: column;
  gap: 15px;
}