.questao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.botao {
  margin-top: 80px;
}
