.resposta {
  display: flex;
  min-width: 500px;
  width: 80%;
  height: 100px;
  margin: 10px;
}

.conteudoResposta {
  position: relative;
  display: flex;
  flex: 1;
}

.frente,
.verso {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.frente {
  align-items: center;
  border-radius: 12px;
  padding: 15px;
  color: #000;
  background-color: #fff;
}

.letra {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 20px;
  color: #fff;
}

.valor {
  font-size: 1.3rem;
  font-weight: 700;
}
